@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-accent: #0B6ECB;
  --color-text: #242e46;
  --color-white: white;
  --color-black: black;
  --color-bg-section: #F1F8FD;

  --font-main: 'Inter';
  --font-title: 'Kanit'
}

body {
  font-family: var(--font-main), serif;
  color: var(--color-text);
}

.circle {
  animation: rotateAll 10s infinite linear;
}

.line {
  animation: scaleAll 10s infinite linear;
}

.triangle {
  animation: goRight 20s infinite linear;
}


/* Color for card */

.card-orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F2EF;
  border-radius: 20px;
  padding: 20px;

}

.card-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F4FC;
  border-radius: 20px;
  padding: 20px;

}

/* Button style  */

.fill-btn {
  @apply bg-accent text-white py-3 px-5 rounded-full flex gap-x-2 cursor-pointer hover:bg-black transition-all items-center
}

.border-brn {
  @apply py-3 px-5 border border-accent text-accent rounded-full flex gap-x-2 cursor-pointer items-center hover:bg-[#D5810F] hover:text-white hover:border-[#D5810F] transition-all
}

.link-btn {
  @apply text-accent flex gap-x-2 items-center cursor-pointer hover:underline
}

/* Animation items */

@keyframes rotateAll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleAll {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes goRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translateX(-100px) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(360deg);
  }
}